*.html
*.xml
*.png
*.apk
*.ipa
*.lock
features/reports/*.json
features/reports/*.xml
#features/fixtures/yaml/*perfecto_cloud.yaml
features/support/config.rb
logs*/*
.DS_Store
.tool-versions
bin/
.vscode/
rerun*.txt
logs/*.csv
logs/*.json
.env
